Dictionary

In [ ]:
dict1 = {'hello' : 1, 'hai' : 2}
print(dict1)

{'hello': 1, 'hai': 2}

In [ ]:
# if we want to retrive only keys or only values of dictionary 
print(dict1.keys())
print(dict1.values())

dict_keys(['hello', 'hai'])
dict_values([1, 2])

In [ ]:
# to convert each key and value pair into a tuple
print(dict1.items())

dict_items([('hello', 1), ('hai', 2)])

In [ ]:
# to take all the keys in arranged order
print(sorted(dict1))

['hai', 'hello']

Dictionary comprehensions is also feasible

In [ ]:
dict_compre = {x:x**2 for x in range(0,5)}
print(dict_compre)

# to group two sequencial object we can use zip
for i,j in zip([1,2,3],[4,5,6]):
  print(i,j)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
1 4
2 5
3 6

Set

In [ ]:
# it is a collection of unordered, unique elements
set1 = { 'hi', 'hello', 'hai', 10, 20, 20.5}
set2 = { 'hai', '58', 56, 20, 'hello'}
set3 = { 'hai', 20}
print(set1)
print(set2)

{'hi', 10, 'hello', 20, 20.5, 'hai'}
{'58', 20, 'hello', 56, 'hai'}

In [ ]:
# we can perform all the operations of mathematical sets
print(set1.intersection(set2))
print(set1.union(set2))
print(set1.symmetric_difference(set2))
print(set1.issubset(set2))

{'hai', 20, 'hello'}
{'hi', '58', 10, 'hello', 20, 20.5, 56, 'hai'}
{'hi', '58', 20.5, 56, 10}
False

Set comprehensions is also supported

In [ ]:
set_compre = {i for i in [1,1,1,2,3,4,5,5,6,6]}
print(set_compre)

{1, 2, 3, 4, 5, 6}

String methods

In [ ]:
# some methods related to string
name = 'python programming'
print(name.swapcase())
print(name.upper())
print(name.capitalize())
print(name.title())
print(name.replace('python','ruby'))
print(name.endswith('g'))
print(name.startswith('r'))
print(name.split(' '))
print(name.center(70,'*'))
print(name.strip('g'))
print("hello {0} i am dinnu".format('shashi'))
print("hello".isalpha())
print("1235".isnumeric())
print('546'.isdigit())
print('hello156'.isalnum())
print('_'.join(name))

PYTHON PROGRAMMING
PYTHON PROGRAMMING
Python programming
Python Programming
ruby programming
True
False
['python', 'programming']
**************************python programming**************************
python programmin
hello shashi i am dinnu
True
True
True
True
p_y_t_h_o_n_ _p_r_o_g_r_a_m_m_i_n_g

List Methods

In [ ]:
list1 = ['hello', 150, 50.6, True]
list1.append('last')
print(list1)
list1.extend('hai')
list1.extend(['59', 489])
print(list1)
list1.insert(5,'buddy')
print(list1)
list1.pop()
print(list1)
print(list1.count('hello'))
print(list1.index('hello'))
list1.reverse()
print(list1)
print(list1.copy())
list1.clear()
print(list1)

# we can also use sort method on list object but
# the list object should consists similar type of elements
# list can be used as queues and stack

list1 = ['hello', 150, 50.6, True]
list1.pop()
print(list1)

['hello', 150, 50.6, True, 'last']
['hello', 150, 50.6, True, 'last', 'h', 'a', 'i', '59', 489]
['hello', 150, 50.6, True, 'last', 'buddy', 'h', 'a', 'i', '59', 489]
['hello', 150, 50.6, True, 'last', 'buddy', 'h', 'a', 'i', '59']
1
0
['59', 'i', 'a', 'h', 'buddy', 'last', True, 50.6, 150, 'hello']
['59', 'i', 'a', 'h', 'buddy', 'last', True, 50.6, 150, 'hello']
[]
['hello', 150, 50.6]

List Comprehensions & Nested List Comprensions

In [ ]:
a = [i for i in range(0,10)]
b = [(x, y) for x in [1,2,3] for y in [3,1,4]]
c = [x for x in range(0,10) if x%2==0]
d = [x if x%2==0 else 0 for x in range(0,10)]
print(a)
print(b)
print(c)
print(d)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]
[0, 2, 4, 6, 8]
[0, 0, 2, 0, 4, 0, 6, 0, 8, 0]

Problem of tuples with single elements

In [ ]:
tuple1 = ('hello')
print(type(tuple1))

# for creating tuples with single elements first element should be followed by ','
tuple2 = ('hai',)
print(type(tuple2))

<class 'str'>
<class 'tuple'>