In [ ]:
# to retrive two sequences together we can use zip
list1 = [1,2,3]
list2 = [4,5,6]
for item in zip(list1,list2):
  print(item)

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
  print('What is your {0}?  It is {1}.'.format(q, a))

# to enumerate a list into a tuple as above we should enumerate
for i, v in enumerate(['tic', 'tac', 'toe']):
  print(i, v)

(1, 4)
(2, 5)
(3, 6)
What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.
0 tic
1 tac
2 toe

Dictionary related methods

In [ ]:
dict1 = {'hello': 1 ,'hai': 2}
print(dict1.get('hello')) # tells whether an item is present in a dict or not
print(dict1.pop('hello')) # removes the value corresponding to the key specified
print(dict1.popitem()) # pops a random pair from the dict
print(dict1)

1
1
('hai', 2)
{}

In [ ]:
# To add dictionaries we should use a different method
# here we are unpacking the dictionary '**'
dict1 = {'hai' : 1, 'dinnu' : 2}
dict2 = {'dinnu' : 3, 'shashi' : 4}
final = {**dict1, **dict2}
print(final)

# another method to add two dictionaries 
new = {"50" : 50, 'hai' : 5}
new.update(dict1)
print(new)

print("$$$$$$$$$$")
print(dict1)
print(dict2)
print(final)
print(new)

{'hai': 1, 'dinnu': 3, 'shashi': 4}
{'50': 50, 'hai': 1, 'dinnu': 2}
$$$$$$$$$$
{'hai': 1, 'dinnu': 2}
{'dinnu': 3, 'shashi': 4}
{'hai': 1, 'dinnu': 3, 'shashi': 4}
{'50': 50, 'hai': 1, 'dinnu': 2}

Adding the elements of two tuple into new tuple

In [ ]:

tuple1 = (1,2,3)
tuple2 = (4,5,6)
final = (*tuple1, *tuple2)
print(final)

# here we are simply unpacking '*' tuple objects
print(*tuple1)

(1, 2, 3, 4, 5, 6)
1 2 3

Builtin functions in python

print()

len()

range()

type()

isinstance()

id()

sum()

max()

min()...

We can get all the built in functions by typing dir(\_\_builtin__)

In [ ]:
# range functin creates a sequence of values based on start, end, step values provided
print(list(range(1,10,2)))
print()

[1, 3, 5, 7, 9]

In [ ]:
# it prints the location where the object is stored
print(id(dict1))

140284625428840

In [ ]:
# 'input' function is used for taking input from keyboard
print(input('hello : '))

hello : hai
hai

In [ ]:
# 'isinstance' function is used to find the class to which it belongs to
name = 'hello' 
print(isinstance(name,str))

True

In [ ]:
list1 = [1,2,3,4]

# max and min is used to find max and min of a sequence
print(min(list1))
print(max(list1))

# sum function is used to find the sum of the elements of sequence of same type of objects
print(sum(list1))

# type function is used to find the type of object
print(type(list1))

1
4
10
<class 'list'>

conditional Statements

In [47]:
# in if and elif condition we can mention any value which is not None
num = 1
if(num ==1):
  print("one")
elif(num == 2):
  print('two')
else:
  print('none')

one

Control Statements

In [53]:
print('for loop')
for value in range(1,10,1):
  print(value, end=' ')

print('\nwhile loop')
num = 10
while( num>0 ):
  print(num, end=' ')
  num -= 1

for loop
1 2 3 4 5 6 7 8 9
while loop
10 9 8 7 6 5 4 3 2 1

Jump Statements

In [51]:
num = 0
while( num < 10 ):
  if(num%2 == 0):
    print(num)
  elif(num == 7):
    break
  else:
    pass
  num += 1

0
2
4
6